@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To H-KA</h1>
    <h1 class="display-4">Corona Ventilator WebApp</h1>

    <pre></pre>
    <p><a href="https://www.worldometers.info/coronavirus/?utm_campaign=homeAdvegas1?">Check COVID-19 Daily Cases Here</a></p>
    <pre></pre>
    <div><img src="~/images/HKA_Bildmarke-v_RGB.svg" alt="H-KA Vertical Logo" style="width:100px"></div>
</div>
